.body {
    font-family: serif; 
    font-size: 16px;
}

h1 {
    font-family: sans-serif;
    color: rgb (33,87,51);
    font-size: 36px;
    text-align: center;
    background-color: rgb(75,133,94);
    
}

hr{
    size: 10;
    width: 100;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(33,87,51); 
}
h2 {
    font-family: sans-serif;
    color: rgb(33,87,51);
    font-size: 24px;
}
h3 {
    font-family: sans-serif;
    color: rgb(33,87,51);
    font-size: 20px;
}
#address{
    text-align: center;
    text-wrap: wrap;
}
li{
    list-style-type: square;
}