img{
    border: 1px;
    border-style: dotted;
    border-color: black;
    width: 500px;
    height 150px;
}
iframe{
    width: 500px;
    height: 250px;
    border-style: dotted;
    border-color: black;
    border: 1px;
}
.image1{
    filter: blur(50%);
}